
*.config
*.xls
IT-School/obj/Debug/App.g.cs
IT-School/obj/Debug/App.g.i.cs
IT-School/obj/Debug/IT-School.csproj.FileListAbsolute.txt
IT-School/.vs/IT-School/v15/Server/sqlite3/storage.ide-shm
IT-School/.vs/IT-School/v15/Server/sqlite3/storage.ide-shm
IT-School/.vs/IT-School/v15/Server/sqlite3/storage.ide
IT-School/.vs/IT-School/v15/Server/sqlite3/storage.ide-wal
IT-School/bin/Debug/IT-School.exe
IT-School/bin/Debug/IT-School.pdb
IT-School/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IT-School/obj/Debug/IT-School.csproj.GenerateResource.Cache
IT-School/obj/Debug/IT-School.csprojResolveAssemblyReference.cache
IT-School/obj/Debug/IT-School.exe
IT-School/obj/Debug/IT-School.pdb
IT-School/obj/Debug/IT-School_MarkupCompile.i.cache
IT-School/.vs/IT-School/v15/Server/sqlite3/storage.ide
IT-School/.vs/IT-School/v15/Server/sqlite3/storage.ide-shm
IT-School/bin/Debug/IT-School.exe
IT-School/bin/Debug/IT-School.exe
IT-School/bin/Debug/IT-School.pdb
IT-School/obj/Debug/IT-School.csproj.GenerateResource.Cache
IT-School/obj/Debug/IT-School.csprojResolveAssemblyReference.cache
IT-School/obj/Debug/IT-School.exe
IT-School/obj/Debug/IT-School.pdb
IT-School/obj/Debug/IT-School_MarkupCompile.i.lref
IT-School/IT-School.csproj
IT-School/obj/Debug/IT-School_MarkupCompile.i.lref
